body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* TOPO */

#topo{
    background: #FFF;
    border-bottom: solid 3px #D1AAA6;
}

#logo{
    float: left;
    width: 30%;
}

#logo img {
    margin: 10px 30px;
    no-repeat;
    width: 60%;

}

#menu{
    float: right;
    width: 70%;
    text-align: right;
}


#menu-h{
    background-color: #fff;
    margin: 30px 0 0 0;
}

#menu-h ul {
    list-style: none;
    padding: 0;
    width: 95%;
}

#menu-h ul li {
    display: inline;
    margin: 0 10px;
}

#menu-h ul li a {
    color: #d1aaa6;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: #d1aaa6;
    color: #FFF;

}

#menu-h ul li:last-child a {
    float: right;
    background-color: #d1aaa6;
    color: #FFF;
}

/* CONTEUDO */

#conteudo{

    width: 100%;
    height: 100%;
    display: block;

}

.imagem1{
    background: url(imagens/model-demonstrating-earrings-and-ring.jpg);

}
.imagem2{
    background: url(imagens/golden-bracelets-and-earrings-with-pearls.jpg);

}
.imagem3{
    background: url(imagens/outdoor-portrait-of-woman-in-pink-romantic-dress-wearing-necklace.jpg);

}
.imagem4{
    background: url(imagens/model-demonstrating-silver-earrings.jpg);

}
.imagem5{
    background: url(imagens/wedding-preparation-beautiful-happy-bride-dresses-earrings-before-wedding.jpg);

}



.imagem1, .imagem2, .imagem3, .imagem4, .imagem5 {
    width: 100%;
    height: 100%;
    background-position:bottom;
    background-attachment:fixed ;
    background-size: cover;
    opacity: 0.6;
    display: block;

}

#rodape{
    width: 100%;
    background: #d1aaa6;
    color: #FFF;
    position: fixed;
    bottom: 0;
    z-index: 10;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}
